streamlit==1.51.0
feedparser
requests
beautifulsoup4
python-dotenv
deep-translator
matplotlib
scikit-learn
pandas
numpy
sumy
textblob
vadersentiment
tldextract
lxml
protobuf
psutil
vaderSentiment
